body {
    background: url(../images/crystalBg.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header h1 {
    font-size: 32px;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: #d8dede;
    text-shadow: 2px 3px #5c97c5;   
}

.gems {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    /* border: 2px solid #5c97c5; */
    border-radius: 5px;
}

.gems img {
    width: 120px;
    padding: 5px 3px;
    border-radius: 50%;
    border: 5px solid #5c97c5;
    box-shadow: 1px 2px  #ccc;
    background-color: #fff;
    transition: width .2s;
}

.gems img:hover {
    width: 122px;
    box-shadow: none;
    cursor: pointer;
    transform: rotate(180deg);
    transition: .5s;
}

#rules {
    position: absolute;
    bottom: 10px;
}


#rules > p, h2 {
    font-size: .8em;
    line-height: 23px; 
    margin-left: 10px;
    color: #d8dede; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#rules > h2 {
    margin-bottom: 10px;
}

#game__details {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    line-height: 24px; 
    margin-top: 35px;
    letter-spacing: 1px;
    font-size: 1.2em;
}

#game__details h2 {
    margin-bottom: 7px;
}

#numberWins, #numberLosses, #finalTotal {
    font-size: 25px;
    color: blue;
    padding: 3px;
    padding-right: 10px;
}

hr {
    width: 400px;
    border-color: #e3e3e3;
}